@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  body {
    @apply bg-[#F2F0EF] dark:bg-[#0F0F0F] text-black dark:text-white font-montserrat transition-colors duration-300 ease-out;
  }
}



@layer components {
  .text-colors {
    @apply text-black dark:text-white;
  }
  .bg-colors{
    @apply bg-[#F2F0EF] dark:bg-[#0F0F0F];
}

  /* Custom button styles */
  .button_primary{
        @apply block w-full rounded-md bg-blue-600 py-2 px-4 text-white hover:bg-blue-700;
    }
    .button_neutral{
        @apply block w-full rounded-md bg-gray-600 py-2 px-4 text-white hover:bg-gray-700;
    }
    .button_disabled{
        @apply block w-full border border-[#2C3233] rounded-md  py-2 px-4 text-white hover:border-gray-400 ;
    }
    /* Custom styles for the book cards */
  .card-flip-container {
        width: 15rem;
        height: 24rem;
        perspective: 1000px;
    cursor: pointer;
    }

    .flip-card {
        position: relative;
    }

    .card-flip {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s cubic-bezier(0.3, 0.8, 0.2, 1.3);
    transform-style: preserve-3d;
    }

    .card-flip.flip {
        transform: rotateY(180deg);
    }

    .card-flip-front,
    .card-flip-back {
        position: absolute;
        inset: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    overflow: hidden;
    }

    .card-flip-back {
        transform: rotateY(180deg);
    }

    .bookcard_body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 0.375rem;
        background-color: rgb(243 244 246);
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    .bookcard_description {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1.25rem;
        overflow: scroll;
        height: 11rem;
    }

    .bookcard_description::-webkit-scrollbar {
        display: none;
    }

    .text-colors {
        @apply text-black dark:text-white;
    }

    :global(.dark) .bookcard_body {
        background-color: rgb(55 65 81);
    }

    :global(.dark) .text-colors {
        color: #fff;
    }
    /* Custom styles for the  modals overlays */
    #popupOverlay {
        
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    }
    #popupContainer {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 75vw;
    height: 75vh;
    }
}

