.nav-ul-container{
    align-items: center;
}
.dot{
    width: 75px;
    height: 75px;
}


.card-flip-container {
    
    perspective: 800px;
    cursor: pointer;
}
.flip-card {
    transition: transform 1s cubic-bezier(0.3, 0.8, 0.2, 1.3);
    transform-style: preserve-3d;
    
}

.card-flip-front,
.card-flip-back {
    overflow: hidden;
    
}
.flip{
    transform: rotateY(180deg);
}


.mynav{
    display: none;
}


